<%= stylesheet_link_tag 'form_custom.css', :cache => true %>
<div id="findRec">
    <% form_for :brecord, :url => {:action => 'show'}, :html => {:id => 'find'} do |form| %>
        <fieldset>
          <legend>Select <%=h @rectype%></legend>
            <%= form.hidden_field :rec_brectype, :value => @rectype %>
            <table>
                <tbody>
                    <tr>
                        <td> <label for="rec_name">Name :</label> </td>
                        <td> <%= form.text_field :rec_name, :maxlength => "26", :tabindex => "1" %> </td>
                    </tr>
                    <tr>
                        <td> <label for="rec_cage_code">Bus.ID :</label> </td>
                        <td> <%= form.text_field :rec_cage_code, :maxlength => "5", :tabindex => "2" %> </td>
                    </tr>
                    <tr>
                        <td> <label for="rec_brecalt">Rev. :</label> </td>
                        <td> <%= form.text_field :rec_brecalt, :maxlength => "4", :tabindex => "3" %> </td>
                    </tr>
                    <tr>
                        <td> <label for="rec_breclevel">Status :</label> </td>
                        <td> <%= form.text_field :rec_breclevel, :maxlength => "16", :tabindex => "4" %> </td>
                    </tr>
                    <tr>
                        <td> <label for="rec_bproject">Project :</label> </td>
                        <td> <%= form.text_field :rec_bproject, :maxlength => "16", :tabindex => "5" %> </td>
                    </tr>
                    <tr>
                        <td> <label for="rec_bowner">Owner :</label> </td>
                        <td> <%= form.text_field :rec_bowner, :maxlength => "16", :tabindex => "6" %> </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
        <p>
            <%= submit_tag "Find", :id => "button1" %>
        </p>
    <% end %>
    <%= debug(params) %>
</div>
