<%= stylesheet_link_tag 'form_custom.css', :cache => true %>
<div id="findRec">
    <% form_for :brecord, :url => {:action => 'show'}, :html => {:id => 'find'} do |form| %>
        <fieldset>
          <legend>Select <%=h @rectype%></legend>
            <%= form.hidden_field :find_rec_brectype, :value => @rectype %>
            <table>
                <tbody>
                    <tr>
                        <% if @rectype == 'WORKAUTH' %>
                            <td> <label for="find_rec_brecname">Name :</label> </td>
                            <td> <%= form.text_field :find_rec_brecname, :maxlength => "32", :tabindex => "1" %> </td>
                        <% else %>
                            <td> <label for="find_rec_name">Name :</label> </td>
                            <td> <%= form.text_field :find_rec_name, :maxlength => "26", :tabindex => "1" %> </td>
                        <% end %>
                    </tr>
                    <tr>
                        <td> <label for="find_rec_bname1">Bus. ID :</label> </td>
                        <td> <select id="brecord_find_rec_bname1" name="brecord[find_rec_bname1]" tabindex="2">
                             <option value="" />
                             <%= option_groups_from_collection_for_select(@cageCodes, :options, :label, :value, :key) %>
                        </select> </td>
                    </tr>
                    <tr>
                        <td> <label for="find_rec_brecalt">Rev. :</label> </td>
                        <td> <%= form.text_field :find_rec_brecalt, :maxlength => "4", :tabindex => "3" %> </td>
                    </tr>
                    <tr>
                        <td> <label for="find_rec_breclevel">Status :</label> </td>
                        <td> <%= form.select :find_rec_breclevel, @statusList, {}, {:tabindex => "4"} %> </td>
                    </tr>
                    <tr>
                        <td> <label for="find_rec_bproject">Project :</label> </td>
                        <td> <%= form.select :find_rec_bproject, @prjList, {}, {:tabindex => "5"} %> </td>
                    </tr>
                    <tr>
                        <td> <label for="find_rec_bowner">Owner :</label> </td>
                        <td> <%= form.select :find_rec_bowner, @userList, {}, {:tabindex => "6"} %> </td>
                    </tr>
                    <tr>
                        <td> <label for="find_rec_bcreateuser">Created By :</label> </td>
                        <td> <%= form.text_field :find_rec_bcreateuser, :maxlength => "16", :tabindex => "7" %> </td>
                    </tr>
                    <tr>
                        <td> <label for="find_rec_bfamily">Type :</label> </td>
                        <td> <select id="brecord_find_rec_bfamily" name="brecord[find_rec_bfamily]" tabindex="8">
                             <option value="" />
                             <%= option_groups_from_collection_for_select(@typeList, :options, :label, :value, :key) %>
                        </select> </td>
                    </tr>
                    <tr>
                        <td> <label for="find_rec_name4">Short Description :</label> </td>
                        <td> <%= form.text_field :find_rec_name4, :maxlength => "32", :tabindex => "9" %> </td>
                    </tr>
                    <tr>
                        <td> <label for="find_rec_bdesc">Description :</label> </td>
                        <td> <%= form.text_field :find_rec_bdesc, :maxlength => "80", :tabindex => "10" %> </td>
                    </tr>
                    <% if @rectype == 'PART' %>
                        <tr>
                            <td> <label for="find_uda_logistic_item">Logistic Item Type :</label> </td>
                            <td> <%= form.select :find_uda_logistic_item, DynList::LOGISTIC_ITEMS, {}, {:tabindex => "21"} %> </td>
                        </tr>
                        <tr>
                            <td> <label for="find_uda_comm_number">Commercial Code :</label> </td>
                            <td> <%= form.text_field :find_uda_comm_number, :maxlength => "80", :tabindex => "22" %> </td>
                        </tr>
                        <tr>
                            <td> <label for="find_uda_maker">Manufacturer :</label> </td>
                            <td> <%= form.text_field :find_uda_maker, :maxlength => "80", :tabindex => "23" %> </td>
                        </tr>
                    <% end %>
                    <% if @rectype == 'DOCUMENT' %>
                        <tr>
                            <td> <label for="find_rec_btype4">Document Size :</label> </td>
                            <td> <select id="brecord_find_rec_btype4" name="brecord[find_rec_btype4]" tabindex="21">
                                <option value="" />
                                <%= option_groups_from_collection_for_select(@docSizes, :options, :label, :value, :key) %>
                            </select> </td>
                        </tr>
                    <% end %>
                    <% if @rectype == 'WORKAUTH' %>
                        <tr>
                            <td> <label for="find_rec_btype3">Change Class :</label> </td>
                            <td> <select id="brecord_find_rec_btype3" name="brecord[find_rec_btype3]" tabindex="21">
                                <option value="" />
                                <%= option_groups_from_collection_for_select(@changeClasses, :options, :label, :value, :key) %>
                            </select> </td>
                        </tr>
                        <tr>
                            <td> <label for="find_uda_change_subclass">Sub-Class :</label> </td>
                            <td> <select id="brecord_find_uda_change_subclass" name="brecord[find_uda_change_subclass]" tabindex="22">
                                <option value="" />
                                <%= option_groups_from_collection_for_select(@changeSubClasses, :options, :label, :value, :key) %>
                            </select> </td>
                        </tr>
                        <tr>
                            <td> <label for="find_uda_ecp_number">Eng Chg Prop Nr :</label> </td>
                            <td> <%= form.text_field :find_uda_ecp_number, :maxlength => "32", :tabindex => "23" %> </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </fieldset>
        <p>
            <%= submit_tag "Find", :id => "button1", :tabindex => "31" %>
        </p>
    <% end %>
</div>
