<tr>
	<td><%= h ref.breftype %></td>
	<td><%= h ref.brectype %></td>
	<td><%= h ref.name %></td>
	<td><%= h ref.cage_code%></td>
	<td><%= h ref.brecalt %></td>
	<td><%= h ref.bdesc %></td>
	<td><%= h ref.bquantity %></td>
</tr>