<%= javascript_include_tag 'ui/ui.tabs.js', :cache => true %>
<script type="text/javascript">
	jQuery(document).ready(function(){
		$('#tabs_record > ul').tabs({ fx: { height: 'toggle', opacity: 'toggle' }});
		$('#tabs_record').hide();
	});
</script>
<br/>
<div id="record_title"></div>
<br/>
<div id="tabs_record">
	<ul>
		<% (tab_names @rectype).each do |tab| %>
			<li><%= link_to tab['label'], :anchor => tab['action'] %></li>
		<% end %>
		<% (tab_commons).each do |tab| %>
			<% if (@record) %>
				<% id = @record.id %>
			<% else %>
				<% id = 0 %>
			<% end %>
			<li><%= link_to tab['label'], :controller => 'brecords', :action => tab['action'], :id => id %></li>
		<% end %>
	</ul>
	<input type="hidden" id="view_record_id" />
	<% (tab_names @rectype).each do |tab| %>
		<div id="<%= tab['action'] %>" class="ui-tabs-hide">
			<form id="view_<%= tab['action'] %>" action="" method="post">
				<fieldset>
					<legend></legend>
					<% tab['fields'].each do |field| %>
						<% if (field['type'] == nil) %>
							<div>
								<label for="view_<%= field['id'] %>"><%= field['label'] %>:</label>
								<input type="text" id="view_<%= field['id'] %>" readonly="readonly" size="<%= field['size'] %>"/>
							</div>
						<% elsif (field['type'].starts_with? "multi") %>
							<% rows = (field['type']).gsub(/multi_/,'') %>
							<div>
								<label for="view_<%= field['id'] %>"><%= field['label'] %>:</label>
								<textarea id="view_<%= field['id'] %>" readonly="readonly" cols="<%= field['size'] %>" rows="<%= rows %>"></textarea>
							</div>
						<% end %>
					<% end %>
				</fieldset>
			</form>
		</div>
	<% end %>
</div>