<table id="findGrid" class="scroll"></table>
<div id="findPager" class="scroll"></div>
<div>&nbsp;</div>
<div>
	<p>
		<strong>Effective</strong> column values:<br/>
		<img src="/images/windchill.png" title="Migrated object"/> Object already migrated to Windchill<br/>
		<img src="/images/obsolete.png" title="Obsolete object" style="padding-left:35px"/> Object belongs to an obsolete configuration
	</p>
</div>

<script type="text/javascript">
	$(function(){
		var centerWidth;
		if($.browser.msie){
			centerWidth = pexLayout.cssWidth('center') -80;
		} else {
			centerWidth = pexLayout.cssWidth('center') -50;
		}

		$('#findGrid').jqGrid({
			url: '/brecords/grid_records',
			datatype: 'json',
			mtype: 'GET',
			colNames: ['Id', 'Type', 'Number', 'Cage', 'Rev', 'Ext Rev', 'Status', 'Description', 'Effective'],
			colModel :[
				{name:'id',        index:'id',        hidden:true},
				{name:'rectype',   index:'brectype',  hidden:true,  width:18},
				{name:'name',      index:'brecname',  width:80},
				{name:'bname1',    index:'bname1',    width:35},
				{name:'brecalt',   index:'brecalt',   width:30},
				{name:'ext_rev',   index:'ext_rev',   width:30},
				{name:'breclevel', index:'breclevel', width:50}, 
				{name:'bdesc',     index:'bdesc',     width:200},
				{name:'effective', index:'effective', width:50} ],
			rowNum: 10,
			rowList: [10,20,30,50,100],
			sortname: 'brecname,brecalt',
			sortorder: 'asc',
			viewrecords: true,
			imgpath: grid_imgpath,
			caption: "<%=find_result_table_title @rectype%>",
			height: 'auto',
			width: centerWidth,
			pager: 'findPager',
			ondblClickRow: function(id) {
				if (id!=null) {
					$.history(id);
					$('#cRecord').load("<%= url_for(:controller => 'brecords', :action => 'load_record_base') %>",{id:id});
					$('#cMenuTabs').tabs('select',2);
				}
				return false;
			},
			postData: {
				conditions: '<%=escape_javascript @conditions%>',
				joins: '<%=escape_javascript @joins%>'
			}
		})
		.navGrid('#findPager', {refresh: false, edit: false, add: false, del: false, search: false});
		
		var rectype = "<%=@rectype%>";
		if (rectype == "GENERIC") {
			$('#findGrid').showCol('rectype');
		}
	});
</script>
