<div id="workflow">
	<% chk_label_id= 0; level_id = 0 %>
	<% @record.relproc.blevels.each do |level| %>
		<h3>
			<% if level == @record.blevel %>
				<a href="#" id="current_level" data-level="<%=level_id%>">&rArr; 
			<% else %>
				<a href="#"> 
			<% end %>
			<%=level.bname%></a>
		</h3>
		<% level_id += 1 %>
		<div>
			<% promotion = @record.bpromotions.find_by_blevel(level.bname) %>
			<% if promotion && level <= @record.blevel %>
				<em>Promoted to <%=level.bname%> level on <%=promotion.bpromdate.asctime%> by <%=promotion.buser%></em><br><br>
			<% end %>
			<% if level.next %>
				<% @record.blevel(level.next.bname).bpromchks.each do |chk| %>
					<% checked = @record.signoff(chk.bname,level.next.bname) %>
					<% if checked %>
						<input type="checkbox" id="chk_<%=chk_label_id%>" checked="checked"/><label for="chk_<%=chk_label_id%>"><%=chk.bname%></label> <em>Approved on <%=checked.bchkdate.asctime%> by <%=checked.buser%></em><br/>
					<% else %>
						<% if session[:user].can_sign?(@record, chk) && level == @record.blevel %>
							<input type="checkbox" id="chk_<%=chk_label_id%>" class="approvable" data-level="<%=level.next.bname%>" data-checkname="<%=chk.bname%>"/><label for="chk_<%=chk_label_id%>"><%=chk.bname%></label><br/>
						<% else %>
							<input type="checkbox" id="chk_<%=chk_label_id%>" class="future_check"/><label for="chk_<%=chk_label_id%>"><%=chk.bname%></label><br/>
						<% end %>
					<% end %>
					<% chk_label_id += 1 %>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>

<div id="dialog_approve" class="dialog_approve" title="Approve">
	<form id="form_approve" method="post" action="/brecords/approve">
		<input type="hidden" id="chk_name" name="chk_name"/>
		<input type="hidden" id="chk_level" name="chk_level"/>
		<fieldset class='inlineLabels'>
			<div class="ctrlHolder centered" id="dialog_approve_chkname"></div>
			<div class="ctrlHolder">
				Comment? <input type="text" size="40" maxlength="80" id="chk_comment" name="chk_comment"/>
			</div>
			<div id="radio" class="ctrlHolder centered">
				<input type="radio" id="radio_approve" name="radio" checked="checked"/><label for="radio_approve">Approve</label>
				<input type="radio" id="radio_cancel" name="radio" /><label for="radio_cancel">Cancel</label>
			</div>
		</fieldset>
	</form>
</div>

<div id="dialog_ajax_loader" title="Loading..." class="ui-tabs-hide">
	<img src="/images/ajax-loader.gif"/>Approving record...
</div>
<div id="dialog_error" title="Error" class='ui-widget'></div>

<script type="text/javascript">
$(function(){
	$('#workflow').accordion({
		header: "h3"
	,	autoHeight:false
	});
	
	// se ci sono + dialog_approve ne deve rimanere una sola!
	if ($(".dialog_approve").length > 1 ) {
		$(".dialog_approve").last().remove();
	}
	
	var level_id = $('#current_level').attr("data-level");
	$('#workflow').accordion("activate", parseInt(level_id, 10));
	
	$("#radio").buttonset();
	
	$("#workflow input:checked").button({ 
		disabled: true
	,	icons: {
			primary:'ui-icon-arrowthick-1-n'
		}
	});
	$("#workflow .future_check").button({
		disabled: true
	});
	$("#workflow .approvable").button({
		disabled: false
	});

	var dappr = $("#dialog_approve").dialog({
		height: 250
	,	width: 360
	,	modal: true
	,	autoOpen: false
	});
	
	var dal = $('#dialog_ajax_loader').dialog({
		width: 400,
		modal: true,
		autoOpen: false
	});
	
	var derror = $('#dialog_error').dialog({
		width: 600,
		height: 600,
		modal: true,
		autoOpen: false
	});

	$('#workflow .approvable').click(function() {
		var chkname = $(this).attr("data-checkname");
		var chklevel = $(this).attr("data-level");
		$('#dialog_approve_chkname').html(chkname);
		$('#chk_name').val(chkname);
		$('#chk_level').val(chklevel);
		dappr.dialog("open");
		return false;
	});
	
	$('#radio_cancel').click(function() {
		dappr.dialog("close");
		return false;
	});
	
	function success_approve(responseText, statusText, xhr, $form)  {
		if (dal.length>0) {
			dal.dialog("close");
		}
		responseText = $.trim(responseText);
		if (responseText.indexOf("ui-state-error") == -1) {
			$('#workflow').parent().load('/brecords/load_record_workflow', {'id':responseText});
		} else {
			derror.html(responseText).dialog("open");
		}
		if (dappr.length>0) {
			dappr.dialog("close");
		}
	};
	
	$('#radio_approve').click(function() {
		$('#form_approve').ajaxSubmit({
			success: 		success_approve
		,	beforeSubmit: function(data){
				dal.dialog("open");
			}
		});
		return false;
	});
	
	$('#dialog_approve').bind('keydown', function(event) {
		if (event.keyCode == $.ui.keyCode.ENTER) {
			return false;
		}
	});

});
</script>
