<div id="workflow">
	<% chk_label_id= 0; level_id = 0 %>
	<% @record.relproc.blevels.each do |level| %>
		<h3>
			<% if level == @record.blevel %>
				<a href="#" id="current_level" data-level="<%=level_id%>">&rArr; 
			<% else %>
				<a href="#"> 
			<% end %>
			<%=level.bname%></a>
		</h3>
		<% level_id += 1 %>
		<div>
			<% promotion = @record.bpromotions.find_by_blevel(level.bname) %>
			<% if promotion && level <= @record.blevel %>
				<em>Promoted to <%=level.bname%> level on <%=promotion.bpromdate.asctime%> by <%=promotion.buser%></em><br><br>
			<% end %>
			<% if level.next %>
				<% @record.blevel(level.next.bname).bpromchks.each do |chk| %>
					<% checked = @record.signoff(chk.bname,level.next.bname) %>
					<% if checked %>
						<input type="checkbox" id="chk_<%=chk_label_id%>" checked="checked"/><label for="chk_<%=chk_label_id%>"><%=chk.bname%></label> <em>Approved on <%=checked.bchkdate.asctime%> by <%=checked.buser%></em><br/>
					<% else %>
						<% if session[:user].can_sign?(@record, chk) && level == @record.blevel %>
							<input type="checkbox" id="chk_<%=chk_label_id%>" class="approvable" data-checkname="<%=chk.bname%>"/><label for="chk_<%=chk_label_id%>"><%=chk.bname%></label><br/>
						<% else %>
							<input type="checkbox" id="chk_<%=chk_label_id%>" class="future_check"/><label for="chk_<%=chk_label_id%>"><%=chk.bname%></label><br/>
						<% end %>
					<% end %>
					<% chk_label_id += 1 %>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>

<div id="dialog_approve" title="Approve">
	<form id="form_approve" method="post">
		<input type="hidden" id="chk_name" name="chk_name"/>
		<fieldset class='inlineLabels'>
			<div class="ctrlHolder centered" id="dialog_approve_chkname">
			</div>
			<div class="ctrlHolder">
				Comment? <input type="text" size="40" maxlength="80" id="chk_comment" name="chk_comment"/>
			</div>
			<div id="radio" class="ctrlHolder centered">
				<input type="radio" id="radio_approve" name="radio" checked="checked"/><label for="radio_approve">Approve</label>
				<input type="radio" id="radio_cancel" name="radio" /><label for="radio_cancel">Cancel</label>
			</div>
		</fieldset>
	</form>
</div>

<script>
$(function(){
	$('#workflow').accordion({
		header: "h3"
	,	autoHeight:false
	});
	
	var level_id = $('#current_level').attr("data-level");
	
	$('#workflow').accordion("activate", parseInt(level_id));
	
	$("#radio").buttonset();
	
	$("#workflow input:checked").button({ 
		disabled: true
	,	icons: {
			primary:'ui-icon-arrowthick-1-n'
		}
	});
	$("#workflow .future_check").button({
		disabled: true
	});
	$("#workflow .approvable").button({
		disabled: false
	});

	$("#dialog_approve").dialog({
		height: 250
	,	width: 360
	,	modal: true
	,	autoOpen: false
	});

	$('#workflow .approvable').click(function() {
		var chkname = $(this).attr("data-checkname");
		$('#dialog_approve_chkname').html(chkname);
		$('#chk_name').val(chkname);
		$('#dialog_approve').dialog("open");
		return false;
	});
	
	$('#radio_cancel').click(function() {
		$('#dialog_approve').dialog("close");
		return false;
	});
	
	function success_approve(responseText, statusText, xhr, $form)  {
		$('#dialog_approve').dialog("close");
	}
	
	$('#radio_approve').click(function() {
		$('#form_approve').ajaxSubmit({
			target: 	'#ui-tabs-4'
		,	url: 		'/brecords/approve'
		,	success: 	success_approve
		});
		return false;
	});

});
</script>
