<div id="record_title" class="ui-corner-all"></div>
<div>&nbsp;</div>
<% if @record.migrated? or @record.obsolete? %>
<div class="ui-widget">
	<div class="ui-state-error ui-corner-all"> 
		<span class="ui-icon ui-icon-alert"></span> 
                <% if @record.migrated? %>
                        Object already <strong>migrated</strong> to <%= @record.effective_icon %>
                <% else %>
                        Object belongs to an <strong>obsolete</strong> configuration
                <% end %>
	</div>
</div>
<div>&nbsp;</div>
<% end %>

<div id="record_tabs">
	<ul>
		<li><a href="#attributes" id="attributes_tab">Attributes</a></li>
		<% if (@record.brectype != 'PART') %>
		<li><a href="/<%= controller.controller_name %>/load_record_files?id=<%= @record.id %>" id="files_tab">Files</a></li>
		<% end %>
		<% if (@record.brectype != 'DOCUMENT') %>
		<%
			cookiename = "children_" + @record.brectype
			if session[cookiename]
				children_reftypes = session[cookiename][:reftypes]
				view = session[cookiename][:view]
			else
				children_reftypes = default_reftypes CHILDREN, @record.brectype
				view = ""
			end
		%>
			<li><a href="/<%= controller.controller_name %>/load_record_children<%= view %>?id=<%= @record.id %>&amp;reftypes=<%= children_reftypes %>" id="children_tab">Children</a></li>
		<% end %>
		<%
			cookiename = "parents_" + @record.brectype
			if session[cookiename]
				parents_reftypes = session[cookiename][:reftypes]
				view = session[cookiename][:view]
			else
				parents_reftypes = default_reftypes PARENTS, @record.brectype
				view = ""
			end
		%>
		<li><a href="/<%= controller.controller_name %>/load_record_parents<%= view %>?id=<%= @record.id %>&amp;reftypes=<%= parents_reftypes %>" id="parents_tab">Parents</a></li>
		<li><a href="/<%= controller.controller_name %>/load_record_history?id=<%= @record.id %>" id="history_tab">History</a></li>
	</ul>
</div>

<div id='attributes'>
<% 
	form_for :filter, :html => {:id => 'record_attributes_filters', :class => 'uniForm'} do |f|
		ii = 0
		(filter_names @record.brectype).each do |filter|
			if (ii==0)
%>
				<input type="radio" name="attributes_filter" value="view_fieldset_<%=ii%>" checked="checked"/><label><%=filter%></label>
<%
			elsif
%>
				<input type="radio" name="attributes_filter" value="view_fieldset_<%=ii%>"/><label><%=filter%></label>
<%
			end
			ii+=1
		end
	end
%>

<%
	if (FORMS["#{@record.brectype}"])
		form_for :formid, :html => {:id => 'view_record_form', :class => 'uniForm'} do |f|
			yy = 0
			FORMS["#{@record.brectype}"].each do |form|
				fieldsetid = 'view_fieldset_'+ yy.to_s
%>
				<fieldset id='<%=fieldsetid%>' class='inlineLabels hide filters'>
					<legend><%=form['label']%></legend>
				
<%
				form['fields'].each do |field|
					fid = field['id']
					if (fid.starts_with? "record_")
						attrname = fid.gsub(/record_/, '')
						if (@record.attribute_present? attrname)
%>
							<div class='ctrlHolder'>
								<label><%=field['label']%> :</label>
								<input type="text" readonly="readonly" size="<%=field['size']%>" value="<%= escape_javascript h(@record.read_attribute(attrname)) %>"/>
							</div>
<%
						elsif (@record.respond_to? attrname)
%>
							<div class='ctrlHolder'>
								<label><%=field['label']%> :</label>
								<input type="text" readonly="readonly" size="<%=field['size']%>" value="<%= escape_javascript h(@record.send(attrname)) %>"/>
							</div>
<%
						end
					elsif (fid.starts_with? "uda_")
						ftype = field['type']
						if (ftype == nil)
							attrname = fid.gsub(/uda_/, '').upcase
%>
                                                        <div class='ctrlHolder'>
                                                                <label><%=field['label']%> :</label>
                                                                <input type="text" readonly="readonly" size="<%=field['size']%>" value="<%= escape_javascript h(@record.uda(attrname)) %>"/>
                                                        </div>
<%
						elsif (ftype.starts_with? "multi_")
							attrname = fid.gsub(/uda_/, '').upcase
							counter = ftype.gsub(/multi_/,'').to_i
							ii = 1
							value = ""
							while (ii <= counter)
								suffix = "%02d" % ii  
								multi_attrname = "#{attrname}_#{suffix}"
								if not @record.uda(multi_attrname).empty?
									if ii > 1
										value << ' '
									end
									value << @record.uda(multi_attrname)
								end
								ii += 1
							end
%>
							<div class='ctrlHolder'>
								<label><%=field['label']%> :</label>
								<textarea readonly="readonly" cols="80" rows="<%=field['size']%>"><%= escape_javascript h(value) %></textarea>
							</div>
<%
						end
					end
				end
%>
				</fieldset>
<%
				yy+=1
			end
		end
	end
%>
</div>
<% if (@record.brectype == 'WORKAUTH') && (@record.bfamily == 'REQUEST') && @record.modifiable? %>
<div id="button_modify">
	<button type="button" id="button_modify" name="button_modify" class="ui-corner-all"><%=fam_img_tag('application_edit')-%>Edit</button>
</div>
<% end %>

<script type="text/javascript">
	$(function () {
		var rectype = "<%=@record.brectype %>";
		var record_id = "<%=@record.id %>";
		
		// creazione tabs
		$('#record_tabs').tabs();

		// visualizzazione title del record
		$('#record_title').html("<%= fam_img_tag_rectype @record.brectype  %><%= escape_javascript h(@record.title) %>");
		$('#record_title').show();

		// visualizzazione div
		$('#view_fieldset_0').show();
		
		$('#attributes_tab').click(function() {
			var div_id = $("input[@name='attributes_filter']:checked").val();
			$('.filters').hide();
			$('#'+div_id).show();
			return false;
		});

		// gestione selezione radio buttons
		$("input[name='attributes_filter']").change(
			function(){
				var div_id = $("input[@name='attributes_filter']:checked").val();
				$('.filters').hide();
				$('#'+div_id).show();
			}
		);

		// uniform
		$('#view_record_form').uniform();
		$('#record_attributes_filters').uniform();
		
		// nome tab
		$('#recordTabName').html("<span><%= fam_img_tag_rectype @record.brectype %> <%=@record.name%>-<%=@record.brecalt%></span>");
		
		$("#record_attributes_filters").radio({checked: "/images/tick.png", unchecked: "/images/fam/cross.gif"});
		
		// gestione workspace
		$('#workspace_container').load("<%= url_for(:controller => 'brecords', :action => 'show_workspace') %>");
		$('#eWorkspace').accordion('resize');
		
		$('#button_modify').click(function() {
			$('#dialog_new_modify').load('/rectype/'+rectype+'/show_modify/'+record_id)
			return false;
		});
	});

</script>
