<% form_for :brecord, :url => "/rectype/WORKAUTH/"+@action_type, :html => {:id => 'new_record', :class => 'uniForm', :multipart => true} do |f| %>
<% if @rectype == "WORKAUTH" %>
	<fieldset class='inlineLabels'>
		<legend id="legend_new_record"></legend>
		<%= f.hidden_field :rec_id, :value => @id %>
		<%= f.hidden_field :rec_brectype, :value => @rectype %>
		<div id="step1" class="step">
			<% if @action_type == 'create' %>
				<div class='ctrlHolder'>
					<label for="brecord_rec_brecname"><em>*</em>Number :</label>
					<%= f.text_field :rec_brecname, :maxlength => "32", :tabindex => "1", :class => "uppercase required", :disabled => true %>
					<%= check_box_tag :autonumber, "1", true %> Autonumber
				</div>
				<div class='ctrlHolder'>
					<label for="brecord_rec_bname1"><em>*</em>Cage Code :</label>
					<select id="brecord_rec_bname1" name="brecord[rec_bname1]" tabindex="2" class="required uppercase">
						<option value="" />
						<%= option_groups_from_collection_for_select(CAGE_CODES, :options, :label, :value, :key) %>
					</select>
				</div>
				<div class='ctrlHolder'>
					<label for="brecord_rec_brecalt"><em>*</em>Rev. :</label>
					<%= f.text_field :rec_brecalt, :value => "0000", :maxlength => "4", :tabindex => "3", :readonly => true %>
				</div>
			<% else %>
				<div class='ctrlHolder'>
					<label for="brecord_rec_brecname"><em>*</em>Number :</label>
					<%= f.text_field :rec_brecname, :maxlength => "32", :class => "uppercase", :readonly => true %>
				</div>
				<div class='ctrlHolder'>
					<label for="brecord_rec_bname1"><em>*</em>Cage Code :</label>
					<%= f.text_field :rec_bname1, :maxlength => "5", :class => "uppercase", :readonly => true %>
				</div>
				<div class='ctrlHolder'>
					<label for="brecord_rec_brecalt"><em>*</em>Rev. :</label>
					<%= f.text_field :rec_brecalt, :maxlength => "4", :readonly => true %>
				</div>
			<% end %>
			<div class='ctrlHolder'>
				<label for="brecord_rec_bfamily"><em>*</em>Type :</label>
				<%= f.text_field :rec_bfamily, :value => "REQUEST", :maxlength => "16", :tabindex => "4", :readonly => true %>
			</div>
			<div class='ctrlHolder'>
				<label for="brecord_rec_bproject"><em>*</em>Project :</label>
				<%= f.select :rec_bproject, ACTIVE_PROJECTS, {:include_blank => true}, {:tabindex => "5", :class => "required"} %>
			</div>
			<div class='ctrlHolder'>
				<label for="brecord_rec_brelproc"><em>*</em>LifeCycle :</label>
				<%= f.text_field :rec_brelproc, :value => "CHANGE_REQUEST02", :maxlength => "20", :tabindex => "6", :readonly => true %>
			</div>
			<div class='ctrlHolder'>
				<label for="brecord_rec_bname4"><em>*</em>Short Description :</label>
				<%= f.text_field :rec_bname4, :maxlength => "32", :tabindex => "7", :class => "required uppercase" %>
			</div>
			<div class='ctrlHolder'>
				<label for="brecord_rec_bdesc"><em>*</em>Description :</label>
				<%= f.text_field :rec_bdesc, :maxlength => "80", :tabindex => "8", :class => "required uppercase" %>
			</div>
			<div class='ctrlHolder'>
				<label for="brecord_uda_proprietary"><em>*</em>Proprietary :</label>
				<%= f.select :uda_proprietary, grouped_options_for_select(PROPRIETARY_LEVELS), {:tabindex => "9"} %>
			</div>
			<div class='ctrlHolder'>
				<label for="brecord_uda_sec_class"><em>*</em>Security Class :</label>
				<%= f.select :uda_sec_class, grouped_options_for_select(SECURITY_CLASSES), {:tabindex => "10"} %>
			</div>
			<div class='ctrlHolder'>
				<label for="brecord_uda_wa_req_author"><em>*</em>Request Author :</label>
				<%= f.text_field :uda_wa_req_author, :maxlength => "40", :tabindex => "11", :class => "required uppercase" %>
			</div>
			<div class='ctrlHolder'>
				<label for="brecord_rec_bname3">Reason for Change :</label>
				<%= f.select :rec_bname3, grouped_options_for_select(REASONS_FOR_CHANGE), {:include_blank => true}, {:tabindex => "12"} %>
			</div>
			<div class='ctrlHolder'>
				<label for="brecord_rec_btype3">Change Class :</label>
				<%= f.select :rec_btype3, option_groups_from_collection_for_select(CHANGE_CLASSES, :options, :label, :value, :key), {:include_blank => true}, {:tabindex => "13"} %>
			</div>
			<div class='ctrlHolder'>
				<label for="brecord_uda_change_subclass">Sub-Class :</label>
				<%= f.select :uda_change_subclass, option_groups_from_collection_for_select(CHANGE_SUBCLASSES, :options, :label, :value, :key), {:include_blank => true}, {:tabindex => "14"} %>
			</div>
		</div>
		<div id="step2" class="step">
			<div class='ctrlHolder'>
				<label for="brecord_uda_t_desc_of_chng">Description of Change :</label>
				<%= f.text_area :uda_t_desc_of_chng, :cols => "80", :rows => "15", :tabindex => "15" %>
			</div>
			<div class='ctrlHolder'>
				<label for="brecord_uda_t_comment">Comments :</label>
				<%= f.text_area :uda_t_comment, :cols => "80", :rows => "15", :tabindex => "16" %>
			</div>
			<div class='ctrlHolder'>
				<label for="brecord_uda_t_solution">Solution :</label>
				<%= f.text_area :uda_t_solution, :cols => "80", :rows => "10", :tabindex => "17" %>
			</div>
			<div class='ctrlHolder'>
				<label for="brecord_file_upload">File :</label>
				<%= f.file_field :file_upload, :tabindex => "18" %>
			</div>
		</div>
		<div class="buttonHolder" id="wizard_navigation">
			<label>&nbsp;</label>
			<input class="navigation_button ui-wizard-content ui-helper-reset ui-state-default ui-formwizard-button ui-state-active ui-corner-all" id="back_button" value="Back" type="reset"/>
			<input class="navigation_button ui-wizard-content ui-helper-reset ui-state-default ui-formwizard-button ui-state-active ui-corner-all" id="submit_button" value="Submit" type="submit"/>
			<input class="navigation_button ui-wizard-content ui-helper-reset ui-state-default ui-formwizard-button ui-state-active ui-corner-all" id="cancel_button" value="Cancel" type="button"/>
		</div>
	</fieldset>
<% end %>
<% end %>

<div id="dialog_ajax_loader" title="Loading..." class="ui-tabs-hide">
	<img src="/images/ajax-loader.gif"/>Saving data...
</div>
<div id="dialog_error" title="Error" class='ui-widget'></div>

<script type="text/javascript">
	$(function() {
		var rectype = "<%= @rectype %>".toLowerCase();
		var legend = "<%=@action_type %>"+' '+rectype.toUpperCase();
		var dialog_title = rectype.toUpperCase();

		$('#legend_new_record').html(legend);
		$('#dialog_new_modify').attr('title', dialog_title);
		$('#brecord_rec_brectype').val(rectype);

		$('.editableCombobox').jec();

		$('#dialog_new_modify').dialog({
			width: 770,
			modal: true,
			autoOpen: false,
			closeOnEscape: false
		});
		$('.ui-dialog-titlebar-close:first').hide();
		$('#dialog_new_modify').dialog('open');

		$('#cancel_button').click(function() {
			$('#dialog_new_modify').dialog('close');
			return false;
		});

		var dal = $('#dialog_ajax_loader').dialog({
			width: 400,
			modal: true,
			autoOpen: false
		});

		$('#dialog_error').dialog({
			width: 500,
			modal: true,
			autoOpen: false
		});

		function success_function(responseText, statusText, xhr, $form) {
			var id = responseText;
			if (dal.length>0) {
				dal.dialog("close");
			}
			if (id.indexOf("ui-state-error") == -1) {
				$.history(id);
				$('#cRecord').load("<%= url_for(:controller => 'brecords', :action => 'load_record_base') %>",{id:id});
				$('#cMenuTabs').tabs('select',2);
			} else {
				id = $.trim(id);
				$('#dialog_error').html(id).dialog("open");
			}
			$('#dialog_new_modify').dialog('close'); 
		}

		$('#new_record').formwizard({
			formPluginEnabled : true,
			validationEnabled : true,
			focusFirstInput : true,
			next : '#submit_button',
			back : '#back_button',
			formOptions: {
				beforeSubmit: function(data){ dal.dialog("open");},
				success:	success_function
			},
			validationOptions: {
				errorClass: 'invalid'
			}
		});

		$('#brecord_uda_desc_of_chng').maxLength(1200);
		$('#brecord_uda_comments').maxLength(1200);
		$('#brecord_uda_solution').maxLength(800);

		$('#brecord_rec_brecname').attr('disabled', 'disabled');
		$('#autonumber').click(function() {
			if ($('#autonumber').is(':checked')) {
				$('#brecord_rec_brecname').attr('disabled', 'disabled');
				$('#brecord_rec_brecname').val('');
				$('#autonumber').val('1');
				$('#brecord_rec_brecname').removeClass('required');
			} else {
				$('#brecord_rec_brecname').attr('disabled', '');
				$('#brecord_rec_brecname').addClass('required');
				$('#autonumber').val('');
			}
		});

		if ("<%=@action_type%>" == 'modify') {
			$('#brecord_rec_brecname').attr('disabled', 'disabled');
			$('#brecord_rec_bname1').attr('disabled', 'disabled');
			$('#brecord_rec_brecalt').attr('disabled', 'disabled');
		}

		$('.uppercase').bestupper();

		$('form.uniForm').uniform();
	});
        
</script>
