<% content_for(:head) do %>
	<%= stylesheet_link_tag '../javascripts/themes/basic/grid.css','../javascripts/themes/jqModal.css','grid_custom.css' %>

	<%= javascript_include_tag 'jquery.jqGrid.js','js/jqModal.js','js/jqDnR.js',:cache => 'cache/grid' %>
<% end %>

<% content_for(:search) do %>
	<table id="searchGrid" class="scroll"></table>
	<div id="searchPager" class="scroll"></div>

	<script type="text/javascript">
	var lastSel;
	jQuery(document).ready(function(){
		jQuery('#searchGrid').jqGrid({
			url: '/brecords/grid_records',
			datatype: 'json',
			mtype: 'GET',
			colNames: ['Id', 'Name', 'Bus. ID', 'Rev', 'Status', 'Description'],
			colModel :[
				{name:'id',        index:'id',        hidden:true},
				{name:'name',      index:'brecname',  width:80},
				{name:'bname1',    index:'bname1',    width:50},
				{name:'brecalt',   index:'brecalt',   width:30},
				{name:'breclevel', index:'breclevel', width:50}, 
				{name:'bdesc',     index:'bdesc',     width:300} ],
			rowNum: 10,
			rowList: [10,20,30,50,100],
			sortname: 'brecname,brecalt',
			sortorder: 'asc',
			viewrecords: true,
			imgpath: '/javascripts/themes/basic/images',
			caption: 'Find result table -- <%=h @rectype%>',
			height: '100%',
			width: 925,
			pager: 'searchPager',
			hiddengrid: <%= @hiddengrid %>,
			ondblClickRow: function(id) {
				if (id!=null && id!==lastSel) {
					jQuery('.HeaderButton',$('#searchGrid')[0].grid.cDiv).trigger('click');
					lastSel=id;
					jQuery.history(id);
					jQuery.ajax({
						type: "POST",
						url: ("<%= url_for(:controller => 'brecords', :action => 'load_record_base') %>?id="+id),
						dataType: "script"
					});
				}
			},
			postData: {
				conditions: '<%=escape_javascript @conditions%>',
				joins: '<%=escape_javascript @joins%>',
				group: '<%=escape_javascript @group%>'
			}
		})
		.navGrid('#searchPager', {refresh: true, edit: false, add: false, del: false, search: true})
		.navButtonAdd('#searchPager',
			{ caption:"Load",
				onClickButton:function() {
					var id = jQuery('#searchGrid').getGridParam('selrow');
					if (id) {
						jQuery('.HeaderButton',$('#searchGrid')[0].grid.cDiv).trigger('click');
						jQuery.ajax({
							type: "POST",
							url: ("<%= url_for(:action => 'load_record_base', :controller => 'brecords') %>?id="+id),
							dataType: "script"
						});
					} else {
						alert("Please select Row");
					}
				}
			}
		)
	});
	</script>
<% end %>
