	<table id="searchGrid" class="scroll"></table>
	<div id="searchPager" class="scroll"></div>

	<script type="text/javascript">
	var lastSel;
	jQuery(document).ready(function(){
		var centerWidth = pexLayout.cssWidth('center') - 50;
		jQuery('#searchGrid').jqGrid({
			url: '/brecords/grid_records',
			datatype: 'json',
			mtype: 'GET',
			colNames: ['Id', 'Name', 'Bus. ID', 'Rev', 'Status', 'Description'],
			colModel :[
				{name:'id',        index:'id',        hidden:true},
				{name:'name',      index:'brecname',  width:80},
				{name:'bname1',    index:'bname1',    width:50},
				{name:'brecalt',   index:'brecalt',   width:30},
				{name:'breclevel', index:'breclevel', width:50}, 
				{name:'bdesc',     index:'bdesc',     width:300} ],
			rowNum: 10,
			rowList: [10,20,30,50,100],
			sortname: 'brecname,brecalt',
			sortorder: 'asc',
			viewrecords: true,
			imgpath: '/javascripts/themes/plmexplorer/images',
			caption: "<%=find_result_table_title @rectype%>",
			height: '100%',
			width: centerWidth,
			pager: 'searchPager',
			hiddengrid: <%= @hiddengrid %>,
			ondblClickRow: function(id) {
				if (id!=null && id!==lastSel) {
					//jQuery('.HeaderButton',$('#searchGrid')[0].grid.cDiv).trigger('click');
					lastSel=id;
					jQuery.history(id);
					jQuery.ajax({
						type: "POST",
						url: ("<%= url_for(:controller => 'brecords', :action => 'load_record_base') %>?id="+id),
						dataType: "script"
					});
					jQuery("#cMenu > ul").tabs("select",2);
				}
			},
			postData: {
				conditions: '<%=escape_javascript @conditions%>',
				joins: '<%=escape_javascript @joins%>'
			}
		})
		.navGrid('#searchPager', {refresh: true, edit: false, add: false, del: false, search: true})
		.navButtonAdd('#searchPager',
			{ caption:"", buttonimg: '/javascripts/themes/plmexplorer/images/row_edit.gif', 
				onClickButton:function() {
					var id = jQuery('#searchGrid').getGridParam('selrow');
					if (id) {
						//jQuery('.HeaderButton',$('#searchGrid')[0].grid.cDiv).trigger('click');
						jQuery.history(id);
						jQuery.ajax({
							type: "POST",
							url: ("<%= url_for(:action => 'load_record_base', :controller => 'brecords') %>?id="+id),
							dataType: "script"
						});
						jQuery("#cMenu > ul").tabs("select",2);
					} else {
						alert("Please select Row");
					}
				}
			}
		)
		// workaround per visualizzare tooltip sul nuovo button
		jQuery("td.nav-button:eq(2)").attr("title", "Open");
	});
	
	</script>
