<p>
	<a href="#" id="clear_history" class="button ui-state-default ui-corner-all">Clear</a>
</p>
<%
	@workspace.items.each { |record|
%>
		<div id="h_<%=record[:id]%>"><a class="wrksp_records"><%=fam_img_tag_rectype record[:rectype]%><%=record[:label]%></a></div>
<%
	}
%>
<script type="text/javascript">
$(function () {
	$('.wrksp_records').dblclick(function() {
		var rec_id = $(this).parent().attr('id').substring(2);
		$.history(rec_id);
		$('#cRecord').load("<%= url_for(:controller => 'brecords', :action => 'load_record_base') %>",{id: rec_id});
		$('#cMenuTabs').tabs('select',2);
		return false;
	});
	$('#clear_history').click(function() {
		$('#workspace_container').load("<%= url_for(:controller => 'brecords', :action => 'clear_workspace') %>");
		$('#eWorkspace').accordion('resize');
		return false;
	});
});
</script>
