<%= render :partial => 'title' %>

<% form_for :brecord, :html => {:id => controller.action_name, :class => 'uniForm'} do |f| %>
	<fieldset class='inlineLabels'>
		<legend id="legend_report_record"></legend>
		<%= f.hidden_field :report_rec_brectype, :value => 'PART' %>
		<div class='ctrlHolder'>
			<label for="brecord_report_rec_name"><em>*</em>Number :</label>
			<%= f.text_field :report_rec_name, :maxlength => "26", :tabindex => "1", :class => "required uppercase" %>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_rec_bname1"><em>*</em>Cage Code :</label>
			<select id="brecord_report_rec_bname1" name="brecord[report_rec_bname1]" tabindex="2" class="required">
				<option value="" />
				<%= option_groups_from_collection_for_select(CAGE_CODES, :options, :label, :value, :key) %>
			</select>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_rec_brecalt">Rev. :</label>
			<%= f.text_field :report_rec_brecalt, :value => "#", :maxlength => "4", :tabindex => "3", :class => "uppercase" %>
			<span class='hint'> # = latest revision</span>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_data_maturity">Data Maturity :</label>
			<%= f.select :report_data_maturity, DATA_MATURITY, {:selected => 'RELEASED'}, {:tabindex => "4"} %>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_record_type">Record Type :</label>
			<%= f.select :report_record_type, RECORD_TYPE, {:selected => '0'}, {:tabindex => "5"} %>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_depth"><em>*</em>Level :</label>
			<%= f.text_field :report_depth, :value => "1", :maxlength => "2", :tabindex => "6", :class => "required uppercase" %>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_alternate_language">Alternate Language :</label>
			<%= f.select :report_alternate_language, ALTERNATE_LANGUAGE, {:selected => '0'}, {:tabindex => "7"} %>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_print_header">Print Header :</label>
			<%= f.select :report_print_header, YES_NO, {:selected => 'Y'}, {:tabindex => "8"} %>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_separating_char">Separating Char :</label>
			<%= f.select :report_separating_char, YES_NO, {:selected => 'N'}, {:tabindex => "9"} %>
		</div>

		<%= render :partial => 'output', :locals => {:f => f} %>
	</fieldset>
<% end %>
