<%= render :partial => 'title' %>

<% form_for :brecord, :html => {:id => controller.action_name, :class => 'uniForm'} do |f| %>
	<fieldset class='inlineLabels'>
		<legend id="legend_report_record"></legend>
		<%= f.hidden_field :report_rec_brectype, :value => 'PART' %>
		<div class='ctrlHolder'>
			<label for="brecord_report_record_type">Record Type :</label>
			<%= f.select :report_record_type, RECORD_TYPE, {:selected => '0'}, {:tabindex => "1"} %>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_rec1_name"><em>*</em>Starting at Id :</label>
			<%= f.text_field :report_rec1_name, :maxlength => "26", :tabindex => "2", :class => "required uppercase" %>
			&nbsp;&nbsp;&nbsp;Revision : &nbsp;&nbsp;<em>*</em>&nbsp;&nbsp;
			<%= f.text_field :report_rec1_brecalt, :value => "0000", :maxlength => "4", :tabindex => "3", :class => "required uppercase" %>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_rec2_name"><em>*</em>Ending with Id :</label>
			<%= f.text_field :report_rec2_name, :maxlength => "26", :tabindex => "4", :class => "required uppercase" %>
			&nbsp;&nbsp;&nbsp;Revision : &nbsp;&nbsp;<em>*</em>&nbsp;&nbsp;
			<%= f.text_field :report_rec2_brecalt, :value => "9999", :maxlength => "4", :tabindex => "5", :class => "required uppercase" %>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_record_status">Status :</label>
			<%= f.select :report_record_status, RECORD_TYPE, {:selected => '0'}, {:tabindex => "6"} %>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_record_project">Project :</label>
			<%= f.select :report_record_project, RECORD_TYPE, {:selected => '0'}, {:tabindex => "7"} %>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_record_owner">Owner :</label>
			<%= f.select :report_record_owner, RECORD_TYPE, {:selected => '0'}, {:tabindex => "8"} %>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_format">Report Format :</label>
			<%= f.select :report_format, RECORD_TYPE, {:selected => '0'}, {:tabindex => "9"} %>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_rec_bname1">Cage Code :</label>
			<select id="brecord_report_rec_bname1" name="brecord[report_rec_bname1]" tabindex="10">
				<option value="" />
				<%= option_groups_from_collection_for_select(CAGE_CODES, :options, :label, :value, :key) %>
			</select>
			<span class='hint'> LISTA report format only</span>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_record_change_class">Change Class :</label>
			<%= f.select :report_record_change_class, RECORD_TYPE, {:selected => '0'}, {:tabindex => "11"} %>
			<span class='hint'> LISTA report format only</span>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_record_sub_class">Sub-Class :</label>
			<%= f.select :report_record_sub_class, RECORD_TYPE, {:selected => '0'}, {:tabindex => "12"} %>
			<span class='hint'> LISTA report format only</span>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_record_serial_number">Serial Number :</label>
			<%= f.text_field :report_record_serial_number, :maxlength => "12", :tabindex => "13" %>
			<span class='hint'> LISTA report format only</span>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_record_promdate_from">Promotion Date From :</label>
			<%= f.text_field :report_record_promdate_from, :maxlength => "12", :tabindex => "14", :class => "pex_datapicker" %>
			<span class='hint'> LISTA report format only</span>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_record_promdate_to">To :</label>
			<%= f.text_field :report_record_promdate_to, :maxlength => "12", :tabindex => "15", :class => "pex_datapicker" %>
			<span class='hint'> LISTA report format only</span>
		</div>

		<%= render :partial => 'output', :locals => {:f => f} %>
	</fieldset>
<% end %>

<script type="text/javascript">
	$(function() {
		$('.pex_datapicker').datepicker({
			dateFormat: 'dd-M-yy',
			changeMonth: true,
			changeYear: true,
		});
	});
</script>
