<%= render :partial => 'title' %>

<% form_for :brecord, :html => {:id => controller.action_name, :class => 'uniForm'} do |f| %>
	<fieldset class='inlineLabels'>
		<legend id="legend_report_record"></legend>
		<%= f.hidden_field :report_rec_brectype, :value => 'WORKAUTH' %>
		<div class='ctrlHolder'>
			<label for="brecord_report_record_type">Record Type :</label>
			<%= f.select :report_record_type, ODM_TYPE, {:selected => 'CHANGE'}, {:tabindex => "1"} %>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_rec1_name"><em>*</em>Starting at Number :</label>
			<%= f.text_field :report_rec1_name, :maxlength => "26", :tabindex => "2", :class => "required uppercase" %>
			&nbsp;&nbsp;&nbsp;Revision : &nbsp;&nbsp;&nbsp;&nbsp;
			<%= f.text_field :report_rec1_brecalt, :value => "0000", :maxlength => "4", :tabindex => "3" %>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_rec2_name">Ending with Number :</label>
			<%= f.text_field :report_rec2_name, :maxlength => "26", :tabindex => "4" %>
			&nbsp;&nbsp;&nbsp;Revision : &nbsp;&nbsp;&nbsp;&nbsp;
			<%= f.text_field :report_rec2_brecalt, :value => "9999", :maxlength => "4", :tabindex => "5" %>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_rec_breclevel">Status :</label>
			<%= f.select :report_rec_breclevel, WA_STATUS, {:include_blank => true}, {:tabindex => "6"} %>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_rec_bproject">Project :</label>
			<%= f.select :report_rec_bproject, PROJECT_LIST, {:include_blank => true}, {:tabindex => "7"} %>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_rec_bowner">Owner :</label>
			<%= f.select :report_rec_bowner, USER_LIST, {:include_blank => true}, {:tabindex => "8"} %>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_format">Report Format :</label>
			<%= f.select :report_format, REPORT_FORMAT, {:selected => 'COMPLETO'}, {:tabindex => "9"} %>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_rec_bname1">Cage Code :</label>
			<select id="brecord_report_rec_bname1" name="brecord[report_rec_bname1]" tabindex="10">
				<option value="" />
				<%= option_groups_from_collection_for_select(CAGE_CODES, :options, :label, :value, :key) %>
			</select>
			<span class='hint'> LISTA report format only</span>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_rec_btype3">Change Class :</label>
                        <select id="brecord_report_rec_btype3" name="brecord[report_rec_btype3]" tabindex="11">
                                <option value="" />
                                <%= option_groups_from_collection_for_select(CHANGE_CLASSES, :options, :label, :value, :key) %>
                        </select>
			<span class='hint'> LISTA report format only</span>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_uda_change_subclass">Sub-Class :</label>
                        <select id="brecord_report_uda_change_subclass" name="brecord[report_uda_change_subclass]" tabindex="12">
                                <option value="" />
                                <%= option_groups_from_collection_for_select(CHANGE_SUBCLASSES, :options, :label, :value, :key) %>
                        </select>
			<span class='hint'> LISTA report format only</span>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_serial_number">Serial Number :</label>
			<%= f.text_field :report_serial_number, :maxlength => "12", :tabindex => "13" %>
			<span class='hint'> LISTA report format only</span>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_rec_bpromdate_from">Promotion Date From :</label>
			<%= f.text_field :report_rec_bpromdate_from, :maxlength => "12", :tabindex => "14", :class => "pex_datapicker" %>
			<span class='hint'> LISTA report format only</span>
		</div>
		<div class='ctrlHolder'>
			<label for="brecord_report_rec_bpromdate_to">To :</label>
			<%= f.text_field :report_rec_bpromdate_to, :maxlength => "12", :tabindex => "15", :class => "pex_datapicker" %>
			<span class='hint'> LISTA report format only</span>
		</div>

		<%= render :partial => 'output', :locals => {:f => f} %>
	</fieldset>
<% end %>

<script type="text/javascript">
	$(function() {
		$('.pex_datapicker').datepicker({
			dateFormat: 'dd-M-yy',
			changeMonth: true,
			changeYear: true
		});
	});
</script>
