<div id="wNavigation" class="pex-accordion">
	<div>
		<h3 class="header"><a href="#"><%=fam_img_tag 'find' %> Find</a></h3>
		<div>
			<% navigation_find_items.each do |item| %>
				<%= item %><br/>
			<% end %>
		</div>
	</div>
	<div>
		<h3 class="header"><a href="#"><%=fam_img_tag 'database_add' %> New</a></h3>
		<div>
			<% navigation_new_items.each do |item| %>
				<%= item %><br/>
			<% end %>
		</div>
	</div>
	<div>
		<h3 class="header"><a href="#"><%=fam_img_tag 'printer' %> Reports</a></h3>
		<div>
			<% navigation_report_items.each do |item| %>
				<%= item %><br/>
			<% end %>
		</div>
	</div>
	<div>
		<h3 class="header"><a href="#"><%=fam_img_tag 'help' %> Help</a></h3>
		<div>
			<a href="#" id="about"><%=fam_img_tag 'information' %> About</a>
		</div>
	</div>
</div>

<div id="dialog_about" title="About PlmExplorer">
	PLM Data Navigator<br/><br/>
	Release 1.0 - Sherpa Connector<br/><br/>
	Sergio Gallelli &amp; Stefano Manieri<br/><br/>
	<!--
	&copy; 2009 - tutti i diritti riservati<br/>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ıɔsǝʌoɹ ı ǝɥɔuɐ pǝ<br/><br/>
	-->
	<a href="http://www.plmexplorer.com"><img src="/images/logo_button.gif" alt="PlmExplorer"></a>
</div>

<script type="text/javascript">
	$(function() {
		$('#wNavigation').accordion({
			fillSpace: true
		,	navigation: true
		,	header: "h3"
		});
		$('#wNavigation').accordion("activate", 0);

		$('#dialog_about').dialog({
			modal: true,
			autoOpen: false,
			bgiframe: true,
			overlay: {
				opacity: 0.5,
				background: "#1c94c4"
			}
		});
	});

	$('#about').click(function() {
		$('#dialog_about').dialog("open");
		return false;
	});

</script>
