<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="PlmExplorer,PLM Explorer, PLM, PDM, PLM viewer, Sherpa viewer, Sherpa" />
		<meta name="keywords" content="PlmExplorer,PLM on Rails, PLM, PDM, PLM viewer, Sherpa viwer, Sherpa, Ruby on Rails,jQuery, jqGrid, Blueprintcss" />
		<meta name="Copyright" content="Copyright (c) 2008-2009 Tud &amp; Taurus" />
		<meta name="author" content="Tud &amp; Taurus" />
		<meta name="publisher" content="Tud &amp; Taurus" />
		
		<link rel="shortcut icon" href="/images/favicon.ico" />
		<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

		<%= stylesheet_link_tag 'blueprint/screen.css', :media => "screen, projection", :cache => 'cache/screen' %>
		<%= stylesheet_link_tag 'blueprint/print.css', :media => "print", :cache => 'cache/print' %>
		<!--[if IE]><%= stylesheet_link_tag 'blueprint/ie.css', :media => "screen, projection", :cache => 'cache/ie' %><![endif]-->
		<%= stylesheet_link_tag 'sprites/sprite.css','dialog_custom.css','tabs_custom.css' %>
		<%= stylesheet_link_tag 'superfish.css','superfish_custom.css', :cache => 'cache/superfish' %>
		<%= stylesheet_link_tag 'application.css', :cache => 'cache/custom' %>

		<%= javascript_include_tag :defaults, :cache => 'cache/defaults' %>
		<%= javascript_include_tag 'hoverIntent.js','jquery.bgiframe.min.js','superfish.js', :cache => 'cache/superfish' %>
		<%= javascript_include_tag 'jquery-ui.js','jquery.corner.js','jquery.ifixpng.js', :cache => 'cache/more' %>
		<%= javascript_include_tag 'jquery.history.js','jquery.history.custom.js','jquery.jec.min-0.4.1.js', :cache => 'cache/history' %>
		<title>PlmExplorer</title>
		<%= yield :head %>
	</head>
	<body>
		<div class="container">
			<div id="header" class="span-24 last">
				<div class="prepend-7 span-16 last">
					<img id="logo" src="/images/logo_trans.png" alt="PlmExplorer"/>
				</div>
				<div id="menu" class="prepend-8 span-14 last">
					<%= render :partial => 'shared/menu'%>
				</div>
			</div>
			<div class="span-24 last">&nbsp;</div>
			<div id="topsearch" class="span-24 last">&nbsp;</div>
			<div id="search" class="span-24 last">
				<%= yield :search %>
			</div>
			<div id="bottomsearch" class="span-24 last">&nbsp;</div>
			<div class="span-24 last">&nbsp;</div>
			<div id="content" class="prepend-1 span-22 append-1 last">
				<div id="tabs_content"></div>
			</div>
			<div class="span-24 last">&nbsp;</div>
			<div id="footer" class="prepend-5 span-19 last">
				<a href="http://www.plmexplorer.com" onclick="window.open(this.href,'window_name','options'); return false;"><img src="/images/plmexplorer_button.gif"></a>&nbsp;&nbsp; by Gallelli &amp; Manieri - &copy; 2008-2009 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="http://www.rubyonrails.org" onclick="window.open(this.href,'window_name','options'); return false;"><img src="/images/ruby_on_rails_button.gif"></a>
				<a href="http://www.jquery.com" onclick="window.open(this.href,'window_name','options'); return false;"><img src="/images/jquery_button.png"></a>
				<a href="http://www.blueprintcss.org/" onclick="window.open(this.href,'window_name','options'); return false;"><img src="/images/blueprint_button.png"></a>
			</div>
		</div>
	</body>
</html>